<section class="recipe-book">
	<section class="page">
		<span class="left">
			<img class="photo"/>
			<div class="tools">#Serves, Special, Vege, Hot</div>
			Ingredients
			<textarea class="ingredients"></textarea>
		</span>
		<span class="right">
			<input class="title" value="Recipe Title"></input>
			<textarea class="blurb">About the recipe: Blurb</textarea>
			<textarea class="method">Methodology</textarea>
		</span>
	</section>
	<section class="page">
		<span class="left">
			<img class="photo"/>
			<div class="tools"></div>
			<div class="ingredients"></div>
		</span>
		<span class="right">
			<header class="title"></header>
			<div class="blurb"></div>
			<div class="method"></div>
		</span>
	</section>
</section>